body {
	margin: 0 auto;
	padding: 0;
  }
  
  .bg-light {
	  background: #efefef url("../images/vintage_speckles_@2X.png");
	  background-repeat: repeat;
  }
  
  .site {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	font-family: 'Quicksand', sans-serif;
  }
  
  .site-content {
	color: #777777;
	flex: 1;
  }
  
  .navigation-container {
	background-color: #ffffff;
	border-bottom: 2px solid #cccccc;
	padding: 0;
  }
  
  .navbar {
	padding: 0;
  }
  
  .navbar-light .navbar-brand {
	color: white;
	font-family: Georgia, "Times New Roman", Times, Serif;
	font-size: 32px;
	font-weight: bold;
  }

  .navbar-light .navbar-brand:hover {
    color: rgb(252, 190, 23)

	}

	.navbar-brand {
			background-color: #4aaaa5;
			padding: 10px 25px;
		}
  
  .nav-item a {
	font-size: 20px;
  }
  
  .card {
	border-radius: 0;
  }
  
  .card-title {
	color: #4aaaa5;
	font-weight: bold;
  }

  .card-text {
	line-height: 1.2;
	font-size: 1.0em;
  }
  
  .floating-img {
	border: 1px solid #ccc;
	/* allows the text to wrap around the image */
	float: left;
  }
  
  footer {
	background-color: #666666;
	color: #ccc;
	height: 100px;
	/* centers the text vertically */
	line-height: 100px;
	text-align: center;
	border-top: 3px solid #4aaaa5;
  }


    /* styling for portfolio page ***/
  
	.portfolio-overlay {
		position: relative;
		background-color: #4aaaa5;
		height: 40px;
		line-height: 40px;
		margin-bottom: 0;
		margin-top: 0;
		text-align: center;
		width: 100%;

	
		}
		
		.card-img-overlay:hover {
		transform: rotate(-4deg) scale(1.1, 1.1);
		}
	  
	  .card-img-overlay {
		display: flex;
		top: -60px;
		justify-content: center;
		align-items: flex-end;
		align-content: flex-end;
		padding: 1em;
		z-index: 1000;
		width: 361px
		}
	
  
  /* styling for contact.html */
  
  .form-group input,
  .form-group textarea {
	/* gets rid of rounded preset */
	border-radius: 0;
  }
  
  .form-group label {
	font-size: 20px;
  }
  
  .btn-primary {
	background-color: #4aaaa5;
	border: none;
	/* gets rid of rounded preset */
	border-radius: 0;
  }
  
